body {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     display: flex;
     flex-direction: column;
     margin: 0;
     padding: 0;
     max-width: 100vw;
     overflow-x: hidden;

}

.header {
         background-color: #1f2937;
         font-size: 24px;
         color: #f9faf8;
         display: flex;
         justify-content: space-evenly;         
}

.header ul {
           font-size: 18px;
           color: #e5e7eb;

}

ul {
    list-style: none;
    display: flex;
    gap: 40px;

}

span {
     align-self: center;
     margin-right: 250px;
     font-weight: bold;

}

.section1 img {
    height: 250px;
    width: 450px;
    border-image: auto;


}

.section1 {
          background-color: #1f2937;
          display: flex;
          padding: 80px 80px;
          justify-content: space-evenly;  
}

.big-text {
       font-size: 48px;
       color: #e5e7eb;
       font-weight: bolder;
}

.small-text {
            font-size: 18px;
            color: #e5e7eb;
            width: 500px;

}

.small-container {
                 display: flex;
                 flex-direction: column;

}

button {
        margin-top: 20px;
        padding: 5px 10px;
        background-color: #3882f6;
        color: white;
        font-size: 18px;
        border-radius: 10px;
        width: 100px;
        height: 50px;

}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;

}

.section2 img {
               height: 250px;
               width: 250px;
      
}

.section2 {
          display: flex;
          justify-content: space-evenly;
}

figcaption {
           text-align: center;
           font-size: 15px;
           margin-bottom: 50px;

}

.section3 {
           background-color: #e5e7eb;
           display: flex;
           justify-content: center;
           padding: 100px;
           font-size: 36px;
           font-style: italic;
           font-weight: lighter;
           align-items: center;

}

span2 {
        font-size: 26px;
        font-weight: bold;
        margin-top: 150px;
        color: #1f2937 ;
}

.container2 {
           display: flex;
           justify-content: center;
           align-items: center;
           height: 40vh
}

.container3 {
            background-color: #3882f6;
            width: 800px;
            height: 100px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 20px;
}

.bigtext {
         font-size: 22px;
         font-weight: bold;
         color: white;
}

.smalltext {
           font-size: 18px;
           font-weight: lighter;
           color: white;

}

.footer {
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-evenly;
    

}

.footer ul { 
      font-size: 18px;
      color: #e5e7eb;
      gap: 5px;

}